# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
ca-certificates=2022.07.19=haa95532_0
certifi=2022.6.15=py39haa95532_0
charset-normalizer=2.1.1=pypi_0
cycler=0.11.0=pypi_0
debugpy=1.6.3=pypi_0
fonttools=4.37.1=pypi_0
h5py=3.7.0=pypi_0
idna=3.4=pypi_0
kiwisolver=1.4.4=pypi_0
matplotlib=3.5.3=pypi_0
numpy=1.23.3=pypi_0
opencv-contrib-python=4.5.5.62=pypi_0
openssl=1.1.1q=h2bbff1b_0
packaging=21.3=pypi_0
pillow=9.2.0=pypi_0
pip=22.1.2=py39haa95532_0
progressbar=2.5=pypi_0
pyparsing=3.0.9=pypi_0
pyrealsense2=2.51.1.4348=pypi_0
python=3.9.13=h6244533_1
python-dateutil=2.8.2=pypi_0
pyyaml=6.0=pypi_0
requests=2.28.1=pypi_0
setuptools=63.4.1=py39haa95532_0
six=1.16.0=pypi_0
sqlite=3.39.2=h2bbff1b_0
tzdata=2022c=h04d1e81_0
urllib3=1.26.12=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
wheel=0.37.1=pyhd3eb1b0_0
wincertstore=0.2=py39haa95532_2
